<div class="row">
    <div class="col-md-4">
      <!--Sidebar content-->         
            <img class="lazy" ng-src="/img/stickup.png" width="200" height="150" /> 
            <!--Body content-->
          <h3 style="color: #428bca;"> 
                    引风机 推杆一<br><small>1号推杆,按下开启引风机按钮表示开启引风机! 按下关闭引风机按钮表示关闭引风机</small>
            </h3>
                                 
            <button ng-disabled="myvalid(true)" class="btn btn-large btn-primary" ng-click="yinfengjiAction(1)">开启 </button>                             
            <button ng-disabled="myvalid(false)" class="btn btn-large btn-primary" ng-click="yinfengjiAction(2)">关闭 </button>                       
    </div>
    <div  class="col-md-4">
      <!--Sidebar content-->         
            <img class="lazy" ng-src="/img/stickup.png" width="200" height="150" /> 
            <!--Body content-->
          <h3 style="color: #428bca;"> 
                    引风机 推杆二<br><small>2号推杆,按下开启引风机按钮表示开启引风机! 按下关闭引风机按钮表示关闭引风机</small>
            </h3>
                                 
            <button ng-disabled="myvalid(true)" class="btn btn-large btn-primary" ng-click="yinfengjiAction(3)">开启 </button>                             
            <button ng-disabled="myvalid(false)" class="btn btn-large btn-primary" ng-click="yinfengjiAction(4)">关闭 </button>                       
   
    </div>
    <div  class="col-md-4">
      <!--Sidebar content-->         
            <img class="lazy" ng-src="/img/stickup.png" width="200" height="150" /> 
            <!--Body content-->
          <h3 style="color: #428bca;"> 
                    引风机 推杆三<br><small>3号推杆,按下开启引风机按钮表示开启引风机! 按下关闭引风机按钮表示关闭引风机</small>
            </h3>
                                 
            <button ng-disabled="myvalid(true)" class="btn btn-large btn-primary" ng-click="yinfengjiAction(5)">开启 </button>                             
            <button ng-disabled="myvalid(false)" class="btn btn-large btn-primary" ng-click="yinfengjiAction(6)">关闭 </button>                       
    
    </div>
</div>    

