<div class="row-fluid">
    <div class="span4">
      <!--Sidebar content-->         
            <img class="lazy" ng-src="/img/lesscss.png" width="400" height="150" />                      
    </div>
    <div class="span8">
      <!--Body content-->
        <h3 style="color: #428bca;"> 
                出渣口 推杆一<br><small> 1号推杆,按下按钮亮绿灯，推杆进推,表示出渣口出渣。再次按下推杆，按钮变灰，推杆回退，表示出渣完成!</small>
        </h3>
                             
        <button class="btn btn-large btn-primary" ng-click="chuzhaAction(1)">出渣 </button>                             
        <button class="btn btn-large btn-primary" ng-click="chuzhaAction(2)">回退 </button>
    </div>
</div>    