<div class="row-fluid">
    <div class="span4">
      <!--Sidebar content-->         
            <img class="lazy" ng-src="/img/lesscss.png" width="300" height="150" />                      
    </div>
    <div class="span8">
      <!--Body content-->
        <h3 style="color: #428bca;"> 
                鼓风机 <br><small> 按下开启按钮，表示开启鼓风机。按下关闭鼓风机安娜，表示关闭鼓风机!</small>
        </h3>
                             
        <button class="btn btn-large btn-primary" ng-click="gufengjiAction(1)">开启鼓风机 </button>                             
        <button class="btn btn-large btn-primary" ng-click="gufengjiAction(2)">关闭鼓风机</button>
    </div>
</div>    