<div class="row-fluid">
	<div class="span4">
		<h3 style="color: #428bca;"> 
                炉膛温度<br><small>{{chuzhaAction1}} 通过温度传感器实时探测，并实时显示当前炉膛内地温度!</small>
        </h3>
        <div style="width:300px; height:200px;">
                    <just-gage-dynamic id="wendulutang" value="wendu-lutang" min=0 max=100 title="炉膛实时温度" label="temperature"></just-gage-dynamic>
        </div>
	</div>
	<div class="span4">
	</div>
	<div class="span4">
	</div>
</div>
<div class="row-fluid">
	<div class="span4">
	</div>
	<div class="span4">
	</div>
	<div class="span4">
	</div>
</div>