<div class="row-fluid">
    <div class="span4">
      <!--Sidebar content-->         
            <img class="lazy" ng-src="/img/stickup.png" width="400" height="150" />                      
    </div>
    <div class="span8">
      <!--Body content-->
        <h3 style="color: #428bca;"> 
                进料口 推杆一<br><small>1号推杆,按下按钮亮绿灯，推杆进推,表示进料口进料。再次按下推杆，按钮变灰，推杆回退，表示进料完成!</small>
        </h3>
                             
        <button class="btn btn-large btn-primary" ng-click="jinliaoAction(1)">进料 </button>                             
        <button class="btn btn-large btn-primary" ng-click="jinliaoAction(1)">出退 </button>
    </div>
</div>    

