<div class="row-fluid">
    <div class="span4">
      <!--Sidebar content-->         
            <img class="lazy" ng-src="/img/lesscss.png" width="400" height="150" />                      
    </div>
    <div class="span8">
      <!--Body content-->
        <h3 style="color: #428bca;"> 
                水泵 <br><small> 按下按钮，表示开启水泵。按下关闭水泵按钮，表示关闭水泵!</small>
        </h3>
                             
        <button class="btn btn-large btn-primary" ng-click="shuibengAction(1)">开启水泵 </button>                             
        <button class="btn btn-large btn-primary" ng-click="shuibengAction(2)">关闭水泵 </button>
    </div>
</div>    