<div class="row">
      <h3><strong>搜索告警</strong></h3>
      <strong>My Date:</strong> {{myDate | date:'medium'}}
      <form novalidate class="css-form">
        告警时间从:          
          <input type="text" ng-model="v.sDt ">{{v.sDt | date:'yyyy-MM-dd HH:mm:ss Z'}}</input>
          
        到: 
          
        并且告警温度大于:
        <input type="text" ng-model="salarm.temp" />
        告警级别等于:
        <select ng-model="slevel">
          <option value="high">high</option>
          <option value="low">low</option>          
        </select>        
        <button type="button" class="btn btn-primary" ng-click="search(salarm)">搜索</button>
      </form>

    <hr class="hr1" />
    在结果中过滤: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option value="alarmtime">告警时间</option>
        <option value="temp">温度</option>
        <option value="level">告警级别</option>
      </select>

    <ul class="alarms">
        <li ng-repeat="alarm in alarms | filter:query | orderBy:orderProp"
            class="alarm-item">
         <!-- <a href="#/alarms/{{alarm._id}}" class="thumb"><img ng-src="{{alarm.imageUrl}}"></a>  
          <a href="#/alarms/{{alarm._id}}">{{alarm.temp}}</a>  -->
          <!-- <span>{{accessors.getId(alarm)}}</span> -->
          
          <span class="fa-hover col-md-3 col-sm-4"><i class="fa fa-envelope fa-2x"></i> 告警信息</span>
          <span class="ip">{{alarm.ip}}</span>
          类型<span class="cmd">{{alarm.cmd}}</span>
          温度<span class="temp">{{alarm.temp}}</span>
          级别<span class="level">{{alarm.level}}</span>
          时间<span class="alarmtime">{{alarm.alarmtime}}</span>
        </li>
      </ul>
</div>    

