<div class="row">
	<div class="col-md-4">
		<h3 style="color: #428bca;"> 
			炉膛温度<br><small> 通过温度传感器实时探测，并实时显示当前炉膛内地温度!</small>
		</h3>
		<div style="width:300px; height:200px;">
			<just-gage-dynamic id="lutang" value="lutang" min=0 max=2000 title="炉膛实时温度" label="temperature"></just-gage-dynamic>
		</div>
	</div>
	<div class="col-md-4">
		<h3 style="color: #428bca;"> 
		炉口温度<br><small> 通过温度传感器实时探测，并实时显示当前炉口地温度!</small>
		</h3>
		<div style="width:300px; height:200px;">
			<just-gage-dynamic id="lukou" value="lukou" min=0 max=2000 title="炉口实时温度" label="temperature"></just-gage-dynamic>
		</div>
	</div>
	<div class="col-md-4">
		<h3 style="color: #428bca;"> 
			二燃室入口温度<br><small> 通过温度传感器实时探测，并实时显示当前二燃室入口温度地温度!</small>
		</h3>
		<div style="width:300px; height:200px;">
			<just-gage-dynamic id="ranshi2ru" value="ranshi2ru" min=0 max=2000 title="二燃室入口实时温度" label="temperature"></just-gage-dynamic>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-4">
		<h3 style="color: #428bca;"> 
			二燃室出口温度<br><small>通过温度传感器实时探测，并实时显示当前二燃室出口温度地温度!</small>
		</h3>
		<div style="width:300px; height:200px;">
			<just-gage-dynamic id="ranshi2chu" value="ranshi2chu" min=0 max=2000 title="二燃室出口实时温度" label="temperature"></just-gage-dynamic>
		</div>
	</div>
	<div class="col-md-4">
		<h3 style="color: #428bca;"> 
			布袋入温度<br><small> 通过温度传感器实时探测，并实时显示当前布袋入温度地温度!</small>
		</h3>
		<div style="width:300px; height:200px;">
			<just-gage-dynamic id="budairu" value="budairu" min=0 max=2000 title="布袋入实时温度" label="temperature"></just-gage-dynamic>
		</div>
	</div>
	<div class="col-md-4">
		<h3 style="color: #428bca;"> 
			布袋出温度<br><small> 通过温度传感器实时探测，并实时显示当前布袋出温度温度!</small>
		</h3>
		<div style="width:300px; height:200px;">
			<just-gage-dynamic id="budaichu" value="budaichu" min=0 max=2000 title="布袋出温度实时温度" label="temperature"></just-gage-dynamic>
		</div>
	</div>
</div>