<div class="row">
    <div class="col-md-4">
      <!--Sidebar content-->         
            <img class="lazy" ng-src="/img/stickup.png" width="200" height="150" /> 
            <!--Body content-->
          <h3 style="color: #428bca;"> 
                    进料口 推杆一<br><small>1号推杆,按下进料按钮，推杆进推,表示进料口进料。
                    按下出退按钮，推杆回退，表示进料完成!</small>
            </h3>
                                 
            <button ng-disabled="myvalid(true)" class="btn btn-large btn-primary" ng-click="jinliaoAction(1)">进料 </button>                             
            <button ng-disabled="myvalid(false)" class="btn btn-large btn-primary" ng-click="jinliaoAction(2)">出退 </button>

            <button ng-disabled="myvalid(false)" class="btn btn-large btn-primary" ng-click="jinliaoAction(7)">停止 </button>                       
    </div>
    <div  class="col-md-4">
      <!--Sidebar content-->         
            <img class="lazy" ng-src="/img/stickup.png" width="200" height="150" /> 
            <!--Body content-->
          <h3 style="color: #428bca;"> 
                   进料口 推杆二<br><small>2号推杆,按下进料按钮，推杆进推,表示进料口进料。
                    按下出退按钮，推杆回退，表示进料完成!</small>
            </h3>
                                 
            <button ng-disabled="myvalid(true)" class="btn btn-large btn-primary" ng-click="jinliaoAction(3)">进料 </button>                             
            <button ng-disabled="myvalid(false)" class="btn btn-large btn-primary" ng-click="jinliaoAction(4)">出退 </button>

            <button ng-disabled="myvalid(false)" class="btn btn-large btn-primary" ng-click="jinliaoAction(8)">停止 </button>                       
   
    </div>
    <div  class="col-md-4">
      <!--Sidebar content-->         
            <img class="lazy" ng-src="/img/stickup.png" width="200" height="150" /> 
            <!--Body content-->
          <h3 style="color: #428bca;"> 
                   进料口 推杆三<br><small>3号推杆,按下进料按钮，推杆进推,表示进料口进料。
                    按下出退按钮，推杆回退，表示进料完成!</small>
            </h3>
                                 
            <button ng-disabled="myvalid(true)" class="btn btn-large btn-primary" ng-click="jinliaoAction(5)">进料 </button>                             
            <button ng-disabled="myvalid(false)" class="btn btn-large btn-primary" ng-click="jinliaoAction(6)">出退 </button>

            <button ng-disabled="myvalid(false)" class="btn btn-large btn-primary" ng-click="jinliaoAction(9)">停止 </button>                       
    
    </div>
</div>    

